CompileFlags:
  Add: ["-ID:\\aura\\metrobud\\include", 
  "-ID:\\aura\\metrobud\\src", 
  "-std=c++23", "-Wall", "-xc++"]

Diagnostics:
  Suppress: "-Wundefined-internal"
  UnusedIncludes: None
  MissingIncludes: None