
bin/
bin-int/
.vs/

*.sln
*.vcxproj*

*.zip

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!/thirdparty/lib/SDL3/SDL3.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!/thirdparty/lib/SDL3/SDL3.lib

# Executables
*.exe
*.out
*.app
